.tradingview-container {
    display: flex;
    width: 100%;
    height: calc(100vh - 140px);
    overflow: hidden;

    @media (max-width: 820px) {
        height: calc(100vh - 120px);
    }
}

.tradingview-iframe {
    width: 100%;
    height: 100%;
    border: none;
    flex: 1;
}
