@use 'components/shared/styles/constants' as *;
@use 'components/shared/styles/mixins' as *;

.tradingview-container {
    display: flex;
    width: 100%;
    height: var(--tab-content-height);

    @include mobile-or-tablet-screen {
        height: var(--tab-content-height-mobile);
    }
}

.tradingview-iframe {
    width: 100%;
    height: 100%;
    border: none;
    flex: 1;
}