@use 'components/shared/styles/constants' as *;
@use 'components/shared/styles/mixins' as *;

.acc-switcher-wallet-item {
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.35rem 1.6rem;
        border-radius: $BORDER_RADIUS;
        gap: 1.6rem;
        cursor: pointer;
        background: transparent;
        border: none;
        width: 100%;
        font-family: inherit;

        &--active {
            background-color: var(--general-active);
        }

        &--switching {
            background-color: var(--general-active);
            opacity: 0.8;
        }

        &:hover:not(&--active):not(:disabled) {
            background-color: var(--general-hover);
        }

        &:disabled {
            cursor: not-allowed;
            opacity: 0.7;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}